* {
        margin: 0;
        padding: 0;
      }
      .box {
        box-sizing: border-box;
        border: 2px solid black;
        /* width: 233px; */
        width: 80vw;
        height: 10vh;
        margin: auto;
        background-color: aquamarine;
        color: blueviolet;
      }
      .container {
        box-sizing: border-box;
        border: 2px solid black;
        /* width: 233px; */
        width: 80vw;
        /* height: 80vh; */
        min-height: 80vh;
        margin: 20px auto;
        font-size: 12px;
        background-color: aquamarine;
        color: blueviolet;
      }
      .container > div {
        font-size: 2em;
        border: 2px solid red;
        width: 50%;
      }
      .container > div > div {
        font-size: 2em;
        border: 2px solid blue;
        width: 50%;
        word-break: break-all;
      }
      .mycont {
        color: black;
        background-color: antiquewhite;
        margin: 20px auto;
        border: 2px solid black;
        font-size: 22px;
        width: 100vmin;
        width: 80vw;
        height: 10vh;
        box-sizing: border-box;
      }