@import url("https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: gray;
  padding: 0;
  margin: 0;
  display: flex;
}

body h1 {
}
.card {
  background-color: white;
  width: 200px;
  height: 350px;
  border-radius: 8px;
  padding: 0 0 1px 0;
  margin: 30px 15px;
  box-shadow: 2px 2px 10px black;
}
.image {
  padding: 5px;
}
.image img {
  border-radius: 7px;
}
.content {
  padding: 7px 13px;
  font-family: poppins, cursive;
}
.content p {
  font-size: 10px;
  color: gray;
}
.capsules {
  padding: 0 23px;
}
.capsules span {
  border: 1px solid gray;
  border-radius: 7px;
  padding: 3px;
  font-family: poppins, cursive;
  font-size: 10px;
}
.button {
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
}
.button button {
  padding: 8px;
  border-radius: 10px;
  background-color: rgb(180, 223, 240);
  color: rgb(35, 105, 133);
  font-size: 12px;
  border: none;
  margin-top: 7px;
  cursor: pointer;
}

.button button:hover {
  background-color: rgb(35, 105, 133);
  color: white;
  transition: 0.3s;
}
