p{
    color: blue;
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    background-color: lightgray;
    border: 2px solid black;
    padding: 10px;
    
}