.container {
  background-color: red;
  width: 50svw;
  height: 40vh;
}
.box {
  background-color: antiquewhite;
  width: 5vw;
  height: 4vh;
  /* transition-property: transform; */
  /* transition-duration: 3s; */
  /* transition-timing-function: ease-in-out; */
  /* transition-delay: 3s; */
  transition: all 3s ease-in-out 1s;
}
.translate {
  transform: translateX(10vw) translateY(10vh) scale(2);
  background-color: blue;
}
