/* The specificity of this selector is 1 */
        h1{
            color: blue;
        }
        /* The specificity of this selector is 10 */
        .red{
            color: red;
        }
        /* The specificity of this selector is 1 + 10 = 11 */
        h1.yellow{
            color: yellow;
        }
        /* The specificity of this selector is 10 */
        .purple{
            color: purple;
        }
        /* This is an example of attribute selector. The specificity of this selector is 10 */
        [data-x="a"]{
            color: green;
        }
        a.harryclass.rohan-class[href]:hover{
            /* The specificity of this selector is 1 + 10 + 10 + 10 + 10 = 41 */
            color: orange;
        }